.maincontainer {
  display: flex;
  align-items: center;
  max-width: 1500px;
  margin: auto;
}

.yearcontainer {
  max-width: 1500px;
  margin: auto;
  display: flex;
  margin: 40px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.sideheading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 37px;
  color: var(--devcard-text);
  margin-right: 35px;
  text-shadow: -0.5px 0.5px 0 red, 0.5px 0.5px 0 red, 0.5px -0.5px 0 red,
    -0.5px -0.5px 0 red;
}

.buttoncontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.buttons {
  margin: 10px 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 10px;
  color: var(--devcard-text);
  font-weight: 700;
  font-family: "Helvetica";
  font-style: normal;
  line-height: 28px;
  width: 121px;
  height: 44px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--devcard-text);
}
.active {
  margin: 10px 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 10px;
  color: #ececec;
  font-weight: 700;
  font-family: "Helvetica";
  font-style: normal;
  line-height: 28px;
  width: 121px;
  height: 44px;
  border-radius: 4px;
  cursor: pointer;
  background-image: linear-gradient(90deg, #f7085a, #be4c9b);
}

.headinginnercont {
  width: 100%;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.headingcont {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading::after {
  position: absolute;
  content: "";
  height: 150%;
  width: 100%;
  left: 0em;
  top: -1em;
  clip-path: circle(50% at 30%);
  background: linear-gradient(
    -45deg,
    var(--theme-primary),
    var(--theme-secondary)
  );
  z-index: -1;
  filter: blur(100px);
  box-shadow: -1px 1px 20px rgba(10, 10, 10, 0.3);
}
.heading {
  position: relative;
  width: 50%;
  padding: 20px;
  font-family: "Bitter", serif;
  font-size: 52px;
  font-weight: 800;
  display: inline-block;
  color: var(--devcard-text);
  z-index: 0;
  -webkit-backdrop-filter: blur(130px);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  transition: all 2s;
  -webkit-transition: all 0.2s;
  text-shadow: 1px 1px 2px var(--footer-text);
}

@media (max-width: 1250px) {
  .maincontainer {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 1000px) {
  .maincontainer {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .yearcontainer {
    justify-content: center;
  }
  .sideheading {
    margin-bottom: 0px;
    margin-right: 0;
  }
}

@media (max-width: 850px) {
  .heading {
    width: 100%;
  }
}

@media (max-width: 703px) {
  .sideheading {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .heading {
    font-size: 42px;
  }
}

@media (max-width: 450px) {
  .heading {
    font-size: 38px;
  }
}

@media (max-width: 390px) {
  .heading {
    font-size: 32px;
  }
}
