.maincontainer {
  display: flex;
  align-items: center;
  width: 100%;

  margin: auto;
}

.yearcontainer {
  display: flex;
  margin: 40px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sideheading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 37px;
  color: var(--devcard-text);
  margin-right: 35px;
  text-shadow: -0.5px 0.5px 0 red, 0.5px 0.5px 0 red, 0.5px -0.5px 0 red,
    -0.5px -0.5px 0 red;
}

.buttoncontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.buttons {
  margin: 10px 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 10px;
  color: var(--devcard-text);
  font-weight: 700;
  font-family: "Helvetica";
  font-style: normal;
  line-height: 28px;
  width: 121px;
  height: 44px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--devcard-text);
}
.active {
  margin: 10px 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 10px;
  color: #ececec;
  font-weight: 700;
  font-family: "Helvetica";
  font-style: normal;
  line-height: 28px;
  width: 121px;
  height: 44px;
  border-radius: 4px;
  cursor: pointer;
  background-image: linear-gradient(90deg, #f7085a, #be4c9b);
}

.headingcont {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading::before {
  position: absolute;
  content: "";
  height: 150%;
  width: 100%;
  left: -5rem;
  top: -2rem;
  border-radius: 61% 39% 62% 38% / 51% 40% 60% 49%;
  background: linear-gradient(
    0deg,
    var(--theme-primary),
    var(--theme-secondary)
  );
  filter: blur(78px);
  z-index: -1;
}
.heading {
  position: relative;
  width: 50%;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 52px;
  font-weight: 800;
  display: inline-block;
  color: var(--devcard-text);
  z-index: 5;
}

@media (max-width: 1250px) {
  .maincontainer {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 1000px) {
  .maincontainer {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .yearcontainer {
    justify-content: center;
  }
  .sideheading {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

@media (max-width: 850px) {
  .heading {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .heading {
    font-size: 42px;
  }
}

@media (max-width: 450px) {
  .heading {
    font-size: 38px;
  }
}

@media (max-width: 390px) {
  .heading {
    font-size: 32px;
  }
}
