@import url("/color.css");

* {
  transition: background-color 200ms linear;
}

.dark {
  /* dark theme variables */
  --text-primary: var(--bgTextColor);
  --memsection-bg: var(--black);
  --memberTag-fill-color: transparent;
  --memberTag-text-shadow: none;
  --wingTag-bg: rgba(75, 74, 74, 0.643);
  --text-outline: var(--Grey-light-3);
  --devcard-bg: var(--offBlack);
  --devcard-bottom: var(--surface-color);
  --devcard-text: #ececec;
  --footer-bg: var(--white);
  --footer-text: var(--black);
  --icon-text: var(--white);
  --events-bg-color: var(--black);
  --event-style: var(--white);
  --event-button: var(--Grey-light-3);
  --event-techno-bg: var(--black);
  --techno-event-card-bg: var(--Grey-dark-5);
  --event-card-box-shadow: none;
  --abacus-border: transparent;
  --reportbox-bg: var(--white);
  --temp-color: var(--black);
  --hero-section-bg: var(--black);
  --hero-section-text: var(--Grey-light-3);
  --hero-section-bg-text: var(--bgTextColor);
  --network-lottie-invert-amount: 0;
  --about-section-bg: var(--black);
  --about-section-text: var(--Grey-light-3);
  --css-logo-invert-amount: 0;
  --scrollanime-invert-amount: 0;
  --event-section-bg: var(--black);
  --executive-section-text: var(--Grey-dark-1);
  --executive-section-bg: var(--black);
  --executive-card-text: var(--Grey-light-4);
  --executive-card-bg: var(--offBlack);
  --upcomingEvents-section-bg: var(--black);
  --upcomingEvents-section-text: var(--Grey-light-3);
  --upev-lotte-invert-amount: 0;
  --navigation-button-bg: var(--Grey-light-3);
  --animate-color1: blue;
  --animate-color2: rgb(151, 3, 151);
  --devtag-hover: rgb(197, 194, 194);
  --devselect-text: white;
  --theme-pink: var(--white);
  --report-color: rgb(151, 3, 151);
  --about-color: var(--heading-color);
  --animation-color: radial-gradient(
    30.75% 49.12% at 30.75% 38.37%,
    var(--sky-blue) 0%,
    var(--dark-blue) 100%
  );
  --about-shadow: #282828;
  --about-shadow-color: #282828;
  --devcard-socials: rgba(0, 0, 0, 0.5);
}

.light {
  /* light theme variables */
  --text-primary: var(--bgTextColor);
  --memsection-bg: var(--Grey-light-2);
  --memberTag-fill-color: var(--theme-primary);
  --wingTag-bg: linear-gradient(
    -125deg,
    var(--theme-primary),
    var(--theme-secondary)
  );
  --memberTag-text-shadow: 1px 3px 6px var(--offBlack);
  --text-outline: hsl(317, 45%, 45%);
  --devcard-bg: var(--primary-light);
  --devcard-bottom: rgba(248, 246, 246, 0.8);
  --devcard-text: var(--black);
  --footer-bg: var(--black);
  --footer-text: var(--white);
  --icon-text: var(--bgTextColor);
  --events-bg-color: var(--Grey-light-3);
  --event-style: var(--black);
  --event-button: var(--Grey-dark-5);
  --event-techno-bg: var(--Grey-light-3);
  --techno-event-card-bg: var(--primary-light);
  --event-card-box-shadow: 1px 2px 4px rgba(40, 40, 40, 0.5);
  --abacus-border: var(--bgTextColor);
  --reportbox-bg: rgb(0, 0, 0);
  --temp-color: var(--white);
  --hero-section-bg: linear-gradient(
    200deg,
    hsl(340, 95%, 80%) 0%,
    hsl(340, 85%, 89%) 45%,
    hsl(0, 8%, 95%) 80%
  );
  --hero-section-text: var(--Grey-dark-1);
  --hero-section-bg-text: rgb(205, 204, 204);
  --network-lottie-invert-amount: 1;
  --about-section-bg: var(--Grey-light-3);
  --about-section-text: var(--Grey-dark-1);
  --css-logo-invert-amount: 1;
  --scrollanime-invert-amount: 1;
  --event-section-bg: var(--Grey-light-3);
  --executive-section-text: var(--Grey-dark-3);
  --executive-section-bg: var(--Grey-light-3);
  --executive-card-text: var(--Grey-light-3);
  --executive-card-bg: var(--Grey-dark-1);
  --upcomingEvents-section-bg: var(--Grey-light-3);
  --upcomingEvents-section-text: var(--offBlack);
  --upev-lotte-invert-amount: 1;
  --navigation-button-bg: var(--theme-primary);
  --animate-color1: rgb(151, 3, 151);
  --animate-color2: rgb(78, 9, 239);
  --devtag-hover: gray;
  --devselect-text: white;
  --theme-pink: rgb(232, 9, 172);
  --report-color: rgb(78, 9, 239);
  --animation-color: radial-gradient(
    30.75% 49.12% at 30.75% 38.37%,
    var(--sky-blue-light) 0%,
    var(--blue-dark) 100%
  );
  --about-shadow: var(--Grey-light-4);
  --about-shadow-color: var(--Grey-light-4);
  --devcard-socials: rgb(255, 255, 255, 0.25);
}
