@import url("/color.css");

* {
  transition: background-color 200ms linear;
}
.dark {
  /* dark theme variables */
  --text-primary: var(--bgTextColor);
  --memsection-bg: var(--black);
  --text-outline: var(--Grey-light-3);
  --devcard-bg: var(--offBlack);
  --devcard-bottom: var(--surface-color);
  --devcard-text: white;
  --footer-bg: var(--white);
  --footer-text: var(--black);
  --icon-text: var(--white);
  --events-bg-color: var(--primary-dark);
  --event-style: var(--black);
  --event-button: var(--Grey-dark-5);
  --event-techno-bg: var(--primary-dark);
  --techno-event-card-bg: var(--primary-light);
  --icon-image: url(./style-guide/components/toggle-theme/moon-solid.svg);
  --abacus-border: transparent;
  --reportbox-bg: var(--white);
  --temp-color: var(--black);
  --hero-section-bg: var(--black);
  --hero-section-text: var(--Grey-light-3);
  --hero-section-bg-text: var(--bgTextColor);
  --network-lottie-invert-amount: 0;
  --about-section-bg: var(--black);
  --about-section-text: var(--Grey-light-3);
  --css-logo-invert-amount: 0;
  --scrollanime-invert-amount: 0;
  --event-section-bg: var(--black);
  --executive-section-text: var(--Grey-dark-1);
  --executive-section-bg: var(--black);
  --executive-card-text: var(--Grey-light-4);
  --executive-card-bg: var(--offBlack);
  --upcomingEvents-section-bg: var(--black);
  --upcomingEvents-section-text: var(--Grey-light-3);
  --upev-lotte-invert-amount: 0;
  --navbutton-shadow: var(--shadow-dark);
  --animate-color1: blue;
  --animate-color2: rgb(151, 3, 151);
}

.light {
  /* light theme variables */
  --text-primary: var(--bgTextColor);
  --memsection-bg: var(--Grey-light-3);
  --text-outline: var(--black);
  --devcard-bg: var(--primary-light);
  --devcard-bottom: rgba(248, 246, 246, 0.8);
  --devcard-text: var(--black);
  --footer-bg: var(--black);
  --footer-text: var(--white);
  --icon-text: var(--bgTextColor);
  --events-bg-color: var(--black);
  --event-style: var(--white);
  --event-button: var(--Grey-light-3);
  --event-techno-bg: var(--black);
  --techno-event-card-bg: var(--Grey-dark-5);
  --icon-image: url(./style-guide/components/toggle-theme/sun-regular.svg);
  --abacus-border: var(--bgTextColor);
  --reportbox-bg: var(--black);
  --temp-color: var(--white);
  --hero-section-bg: var(--Grey-light-3);
  --hero-section-text: var(--Grey-dark-1);
  --hero-section-bg-text: rgb(205, 204, 204);
  --network-lottie-invert-amount: 0.2;
  --about-section-bg: var(--Grey-light-3);
  --about-section-text: var(--Grey-dark-1);
  --css-logo-invert-amount: 1;
  --scrollanime-invert-amount: 1;
  --event-section-bg: var(--Grey-light-3);
  --executive-section-text: var(--Grey-dark-3);
  --executive-section-bg: var(--Grey-light-3);
  --executive-card-text: var(--Grey-light-3);
  --executive-card-bg: var(--Grey-dark-1);
  --upcomingEvents-section-bg: var(--Grey-light-3);
  --upcomingEvents-section-text: var(--offBlack);
  --upev-lotte-invert-amount: 1;
  --navbutton-shadow: rgb(245, 245, 245, 0.4);
  --animate-color1: black;
  --animate-color2: rgb(227, 239, 9);
}
