/* @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap");
.card {
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: (5px);
}
.card .content {
  text-align: center;
  height: 440px;
}
.card .content .image {
  position: relative;
  top: -10px;
  transform: translateY(50px);
  transition: all 0.3s ease-in-out;
}
.card:hover .content .image {
  transform: translateY(0);
}
.card .content .image img {
  margin: auto;
  border-radius: 50%;
  width: 180px;
}
.card .content .body {
  position: relative;
  top: 30px;
  color: white;
  text-align: center;
  font-family: "Perriweather";
  padding: 0 20px;
  font-size: 20px;
  height: 200px;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}
.card:hover .content .body {
  transform: translateY(0);
  opacity: 1;
}
.card .content .name {
  color: white;
  font-weight: bold;
  font-size: 32px;
  font-family: "Merriweather", serif;
  position: relative;
  transform: translateY(100px);
  transition: all 0.2s ease-in-out;
  width: 50%;
  margin: auto;
  background: transparent;
  border-radius: 15px;
}
.card:hover .content .name {
  display: none;
}
@media (max-width: 700px) {
  .card {
    transform: scale(0.7);
  }
} */
.card_blur {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 4px 16px 0 rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 16px 0 rgba(255, 255, 255, 0.18);
}
.card_blur .title {
  font-size: 0.9rem;
  margin-top: 7vw;
  margin-bottom: 4vw;
  letter-spacing: 1px;
  font-family: cherry;
}
.card_blur .title::first-letter {
  color: #f80759;
  font-weight: 500;
}
.card_blur p:nth-child(2) {
  width: 90%;
  margin: 0 auto;
  font-size: 0.7rem;
  line-height: 1.3;
  letter-spacing: 1px;
  font-weight: 300;
}
.card_blur:hover {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.d_card_blur {
  position: relative;
  width: 100%;
  height: 100%;
}
/* .mobile_hide {
    display: none;
  } */
.h_before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.h_after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%) scaleX(0);
  transform: translate(-50%, -30%) scaleX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}
.card_blur:hover .h_before .img_1_c img {
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  opacity: 0;
}
.h_after .d_content {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.h_after .d_content p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  font-size: 1.1vw;
  line-height: 1.3;
}
