@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.parallax {
  position: absolute;
  filter: brightness(150%);
}
.parallax:nth-child(1) {
  transform: scale(0.5);
  top: 80vh;
  left: 5rem;
}
.parallax:nth-child(2) {
  top: 4rem;
  left: -1rem;
}

.logo {
  width: 15em;
  height: 15em;
  transform: translate(-10%, -55%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  filter: invert(var(--css-logo-invert-amount)) brightness(80%);
}

.highlight {
  color: var(--Grey-light-3);
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background: linear-gradient(
    -45deg,
    var(--theme-primary),
    var(--theme-secondary)
  );
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  transition: all 0.1s ease-in;
}

.highlight:hover {
  -webkit-clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 3% 50%, 0% 0%);
  clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 3% 50%, 0% 0%);
}

.bgtext {
  top: 30%;
  left: 5%;
  position: fixed;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 7vw;
  font-weight: 800;
  z-index: 1;
  opacity: 1;
  color: var(--hero-section-bg-text) !important;
  line-height: 1.2em;
  letter-spacing: 5px;
  font-family: Anton;
  pointer-events: none;
}

.dashboard {
  position: relative;
  width: 100vw;
  background: var(--hero-section-bg);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow-x: hidden;
}

.dashboard p {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: start;
}

.dashboard .bottomText {
  color: var(--hero-section-bg);
  position: absolute;
  font-family: Helvetica, sans-serif;
  text-shadow: -1px 1px 0 var(--about-shadow-color),
    1px 1px 0 var(--about-shadow-color), 1px -1px 0 var(--about-shadow-color),
    -1px -1px 0 var(--about-shadow-color);
  font-size: 10em;
  bottom: 0.5em;
  right: 2em;
}

.dashboard .divider {
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: -1px 1px 20px rgba(10, 10, 10, 0.3);
  display: flex;
  margin: 20vh 6em 5vh 6em;
  height: fit-content;
  width: 60%;
  background-color: hsla(0, 0%, 97%, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  flex-direction: column;
  justify-content: center;
  padding-top: 4em;
  padding-left: 2em;
  padding-right: 4em;
  border-radius: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.dashboard .divider .title {
  color: var(--hero-section-text);
  max-width: fit-content;
  font-family: Anton;
  font-weight: bolder;
  font-size: 5em;
  line-height: 1.1em;
  letter-spacing: 0.1em;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.dashboard .divider .subtitle {
  margin: 3em 0;
}

.dashboard .divider .subtitle p {
  font-family: "Gill Sans", sans-serif;
  margin: 0.4em 0;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--hero-section-text);
}

.globe_lottie {
  width: 45em;
  height: 45em;
  right: -22em;

  filter: invert(var(--network-lottie-invert-amount));
  opacity: 0.9;
  position: absolute;
  top: calc(50vh - 19em);
  z-index: 3;
  pointer-events: none;
}
.scrollanime {
  filter: invert(var(--scrollanime-invert-amount));
  margin: 0;
  padding: 0;
  bottom: 0%;
  left: -4rem;
  width: 12em;
  height: 20em;
  z-index: 3;
  position: fixed;
}

@media only screen and (max-width: 1200px) {
  .dashboard {
    padding-bottom: 15rem;
    min-height: 100vh;
  }
  .dashboard .divider {
    min-height: 60vh;
    width: 90vw;
    margin: 0 auto;
    margin-top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em;
    text-align: center;
  }
  .dashboard .divider .title {
    font-size: 4em;
    width: 100vw;
  }
  .dashboard .divider p {
    text-align: center;
  }
  .dashboard .highlight {
    display: flex;
    width: auto;
    text-align: center;
    justify-content: center;
  }
  .dashboard .bottomText {
    display: flex;
    width: 100%;
    left: 0;
    justify-content: center;
  }
  .parallax:nth-child(1) {
    top: 65vh;
  }
  .logo {
    display: none;
  }
  .globe_lottie {
    display: block;
    top: max(35rem, 70vh);
    left: 50%;
    transform: translateX(-50%);
    width: 30vh;
    height: min-content;
    opacity: 0.9;
  }
}
@media only screen and (max-width: 600px) {
  .dashboard .divider .title {
    font-family: Anton, Geneva, Tahoma, Verdana, sans-serif;
    font-size: 2.5em;
    width: 80vw;
  }
  .dashboard .divider .subtitle {
    font-size: 0.7em;
    font-weight: bolder;
    letter-spacing: 0.2px;
    line-height: 1.25m;
    width: 70vw;
  }
  .parallax:nth-child(1) {
    top: 65vh;
    left: 75vw;
  }
  .parallax:nth-child(2) {
    top: 6vh;
  }
  .globe_lottie {
    top: 70vh;
  }
}
