.newcardcontainer {
  box-sizing: border-box;
  position: relative;
  width: 350px;
  height: 440px;
  border-radius: 12px;
  border-bottom-left-radius: 12px;
  background: linear-gradient(90deg, #f7085a, #be4c9b);
  margin: 0 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.cardimgcont {
  position: absolute;
  width: 97.5%;
  height: 440px;
  z-index: 2;
  border-radius: 12px;
  bottom: 1.5px;
  top: 5px;
  overflow: hidden;
}
.cardimg {
  height: 100%;
  width: 100%;
  z-index: 2;
  border-radius: 12px;
  transition: all;
  transition-duration: 0.5s;
  transform: translateY(-40px);
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.newcardfooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  gap: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: absolute;
  width: 100%;
  height: 28%;

  bottom: -0.9px;

  background: linear-gradient(90deg, #f7085a 0%, #be4c9b 100%);
  border-radius: 0px 0px 12px 12px;
  z-index: 5;
  color: #ececec;
}

.footercont {
  width: 100%;
  height: 28px;
  font-size: 22px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  bottom: 10px;
  line-height: 28px;
  margin-top: 5px;
}

.socials {
  width: 20%;
  height: 313px;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 28px;
  transition: all;
  transition-duration: 0.5s;
  transform: translateX(80px);
  right: 0;
}

.icon {
  margin-top: 0;
  color: white;
}

.newcardcontainer:hover .socials {
  width: 20%;
  transform: translateX(-0.2px);
}

.newcardcontainer:hover .cardimg {
  transform: scale(1.2) translateY(-60px);
}
@media (max-width: 500px) {
  .newcardcontainer {
    width: 370px;
    height: 430px;
  }

  .socials {
    height: 306px;
  }
}

@media (max-width: 400px) {
  .newcardcontainer {
    width: 330px;
  }
}

@media (max-width: 360px) {
  .newcardcontainer {
    width: 300px;
    height: 400px;
  }

  .socials {
    height: 285px;
  }
  .cardimg {
    transform: translateY(-50px);
  }
}
