.header {
  color: var(--report-color);
  font-size: 2rem;
  margin: 0rem auto;
  padding-top: 3rem;
  font-family: "Roboto", sans-serif;
  width: 20rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  text-shadow: 0.8px 0.8px 1px var(--footer-bg);
}

.reportEnclosure {
  position: fixed;
  top: 20px;
  left: 50%;
  width: 100%;
  z-index: 20;
  transition: 2s;
  transform: translateX(-50%);
}

.mainreportdiv {
  background-color: rgba(17, 17, 17, 0.78);
  max-width: 700px;
  width: 90%;
  margin: auto;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.441);
}

.closeBtn {
  width: 50px;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.backDrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 10;
}

.formholder {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.formholder::before {
  content: "";
  background-image: conic-gradient(
    var(--animate-color1),
    transparent,
    transparent,
    transparent,
    var(--animate-color2),
    transparent,
    transparent,
    transparent
  );
  width: 800px;
  height: 800px;
  position: absolute;
  animation: animate 4s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  width: 99%;
  height: 99%;
  z-index: 2;
  background-color: var(--devcard-bg);
  margin: 3px;
}
.container {
  max-width: 60%;
  margin: 4rem auto;
  margin-top: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0 3rem;
  margin-bottom: 0px;
}

.container_inactive {
  display: none;
}
.sent_inactive {
  display: none;
}
.sent {
  width: 30vw;
  margin: auto;
}
.entry {
  margin: 2px auto;
  padding: 0.5rem;
}
.formControl {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--reportbox-bg);
  color: var(--footer-text);
}

.btn {
  padding: 0.7rem;
  border-radius: 5px;
  max-width: 20rem;
  margin: auto;
  background-color: var(--reportbox-bg);
  color: var(--footer-text);
}
.success {
  color: var(--devcard-bg);
  font-size: 2rem;
  margin: auto;
  font-family: "Roboto", sans-serif;
  width: 20vw;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}
.successfalse {
  visibility: hidden;
}
.disclaimer {
  color: var(--icon-text);
  font-size: 12px;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 2rem;
  overflow: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 1.4rem;
    display: block;
  }
  .success {
    font-size: 1.4rem;
    width: 50%;
  }
  .report_lottie {
    display: none;
  }
  .disclaimer {
    width: 80%;
    font-size: 10px;
  }
  .sent {
    width: 50vw;
  }
}
@media only screen and (width<700px) {
  .container {
    max-width: 90%;
  }
}

.report-enclosure {
  width: 50%;
  height: 50%;
}

.reportButton {
  position: fixed;
  top: 83%;
  right: 2%;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  cursor: pointer;
  backdrop-filter: blur(5px);
  border: 1px solid rgb(255, 136, 104);
  border-radius: 50%;
}

.reportButton_img {
  width: 23px;
  margin: auto;
  transition: 2s;
}

.reportButton:hover .reportButton_img {
  transform: scale(1.1);
  animation: reportBtnHover 2s linear forwards alternate infinite;
}

@keyframes reportBtnHover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
