.card20 {
  height: 50vh;
  width: 38vh;
  margin-top: 10vh;
  background: #808080;
  border-radius: 10px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  overflow: hidden;
  background: #131419;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.4), 0 15px 12px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}
.card20:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.7);
}

.card200:hover h2 {
  opacity: 1;
}

.card200:hover .fab {
  opacity: 1;
}

.card20 h2 {
  margin-top: 25vh;
  margin-right: 2vh;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font-size: 1.5em;
  text-align: right;
  font-family: "IBM Plex Sans", sans-serif;
}

.card20 h2 {
  color: #fff;
}

.card20 .fab {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  color: #131419;
}

.card20 .fab:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #858080;
}

.icons20 {
  position: relative;
  font-size: 1.5em;
  height: 60px;
  list-style: none;
  top: 3vh;
  left: -0.5vh;
  width: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.border20 {
  height: 50vh;
  width: 38vh;
  background: transparent;
  border-radius: 10px;
  -webkit-transition: border 1s;
  transition: border 1s;
  position: relative;
}

.border20:hover {
  border: 2px solid white;
}
