.hero {
  width: 100vw;
  background: var(--hero-section-bg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.1rem 2em;
  background-attachment: fixed;
}

.heroText {
  user-select: none;
  font-size: 9em;
  letter-spacing: 1px;
  font-family: Anton, sans-serif;
  color: var(--executive-section-text);
  margin-top: 2rem;
}

.heroDesc {
  font-family: "Ubuntu", sans-serif;
  max-width: 60%;
  color: var(--hero-section-text);
  font-family: Gill Sans, sans-serif;
  margin: 0.4em 0;
  font-size: 1.1rem;
  font-weight: 700;
}

.heroHead {
  font-size: 2rem;
  color: var(--hero-section-text);
  margin: 1rem 0;
  font-family: Helvetica;
}

.heroLogo {
  position: absolute;
  right: 10rem;
  filter: invert(var(--css-logo-invert-amount)) brightness(40%);
  height: 15rem;
  width: 15rem;
}

.advantagesList {
  margin-left: 1em;
}

@media (max-width: 768px) {
  .hero {
    padding: 0.1rem 1rem;
  }

  .heroText {
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .heroLogo {
    display: none;
  }

  .heroDesc {
    max-width: 100%;
    color: var(--hero-section-text);
    font-family: Gill Sans, sans-serif;
    margin: 0.4em 0.3em;
    font-size: 0.9rem;
    font-weight: 700;
  }
}
