.signin_btn {
  color: var(--wing-white);
  background: var(--navigation-button-bg);
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  z-index: 99;
  border-radius: 4.5rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  width: 9rem;
  height: 2.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: -1.5px; */
  font-family: Geneva, Tahoma, sans-serif;
}

/* svg {
    margin: auto;
} */

.signed {
  color: var(--wing-black) !important;
  background: var(--signIn-btn-bg);
}

@media only screen and (max-width: 700px) {
  .signin_btn {
    height: 2.3rem;
    width: 7rem;
    font-size: 1rem;
    bottom: 2rem;
    left: 20%;
    transform: translateX(-50%);
  }
}
