.wrapper .memberTag {
  position: absolute;
  top: 0%;
  text-align: center;
  width: 100vw;
  font-size: 8vw;
  color: linear-gradient(
    to right,
    var(--theme-primary),
    var(--theme-secondary)
  );
  font-weight: 500;
  -webkit-text-fill-color: var(--memberTag-fill-color);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white);
  text-shadow: var(--memberTag-text-shadow);
  z-index: 10;
  font-family: "IBM Plex Sans", sans-serif;
}
@media (max-width: 1100px) {
  .wrapper .memberTag {
    position: relative;
    top: 40vh;
    left: 23vw;
    font-size: 10vh;
    white-space: nowrap;
    -webkit-transform: rotate(90deg) translate(0vh, -15vw);
    transform: rotate(90deg) translate(0vh, -15vw);
  }
}
.memsection {
  background: var(--memsection-bg);
  position: relative;
  z-index: 2;
}
.tabPanel {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.active {
  background: var(--theme-secondary) !important;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
}
