#headLottie {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 5%;
  left: 70%;
}
@media only screen and (max-width: 1500px) {
  #headLottie {
    left: 60%;
  }
}
@media only screen and (max-width: 700px) {
  #headLottie {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 55%;
    left: 0;
  }
}
