#headLottie {
  position: absolute;
  /* right: 5vw; */
  width: 600px;
  height: 600px;
  top: 5%;
  left: 70%;
}
@media only screen and (max-width: 1500px) {
  #headLottie {
    left: 60%;
  }
}
@media only screen and (max-width: 700px) {
  #headLottie {
    display: none;
  }
}
