#headLottie {
  z-index: 10;
  position: absolute;
  background: transparent;
  right: 1%;
  width: 600px;
  height: 600px;
}
@media screen and (max-width: 1400px) {
  #headLottie {
    width: 400px;
    height: 400px;

    top: 14%;
  }
}
@media screen and (max-width: 1100px) {
  #headLottie {
    display: none;
  }
}
