.toggleBtnContainer {
  position: fixed;
  top: 1rem;
  left: 2.7rem;
  z-index: 99;
  border-radius: 50%;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}
.toggleBtnContainer .checkbox {
  display: none;
}
.toggleIcon {
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--Grey-light-3);
  overflow: hidden;
  cursor: none;
  transition: all 0.3s ease-in;
}
.toggleIcon .moon,
.toggleIcon .sun {
  position: absolute;
  top: 17%;
  left: 17%;
  width: 2rem;
  height: 2rem;
  transition: all 0.3s ease-in-out;
  transform-origin: 50% 100%;
}
.toggleIcon .moon {
  color: var(--Grey-light-3);
  opacity: 0;
  transform: rotate(90deg);
}
.toggleIcon .sun {
  color: var(--offBlack);
}
.toggleBtnContainer .checkbox:checked + .toggleIcon {
  background-color: var(--theme-primary);
  border-color: var(--Grey-light-3);
}
.toggleBtnContainer .checkbox:checked + .toggleIcon .moon {
  opacity: 1;
  transform: rotate(0);
}
.toggleBtnContainer .checkbox:checked + .toggleIcon .sun {
  opacity: 0;
  transform: rotate(-90deg);
}

@media only screen and (max-width: 700px) {
  .toggleBtnContainer {
    top: 1rem;
    left: 1.7rem;
  }
  .toggleIcon {
    height: 2.5rem;
    width: 2.5rem;
  }
  .toggleIcon .moon,
  .toggleIcon .sun {
    width: 1.7rem;
    height: 1.7rem;
  }
}
