.toggleBtn {
  position: fixed;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  font-weight: bold;
  z-index: 99;
  background-image: var(--icon-image);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  margin-left: 5px;
}
