.wrapper {
  width: 100%;
  padding: 4rem 0 6rem 0;
  text-align: center;
  background-color: white;
   
}
.polaroid {
  background: #fff;
  padding: 1rem 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border: 1px solid rgb(121, 121, 121);
  transition: all 1s ease-out;
}
.polaroid > img {
  max-width: 100%;
  aspect-ratio: 14/13;
  object-fit: cover;
  border: 1px solid rgb(121, 121, 121);
  background: rgb(0, 0, 0) ;
}
.caption {
  font-size: 2rem;
  text-align: center;
  line-height: 2em;
  font-weight: 800;
  font-family: "Satisfy", cursive;
  color: #e41f6f;
}
.Tilt{
  display: inline-block;
  width: 30%;
  height: 30%;
}
.item {
  width: 95%;
  display: inline-block;
  /* margin-top: 2rem; */
  box-shadow: 2px 2px 10px var(--abacus-border);
  animation: fade-up 1s ease forwards;
  animation-timeline: view();
}
.item .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 1s ease-out;
}
.Tilt:nth-of-type(4n + 1) > .item {
  transform: scale(0.8, 0.8) rotate(7deg);
  transition: all 1s ease-out;
}
.Tilt:nth-of-type(4n + 1) >.polaroid:before {
  transform: rotate(8deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
  /* transition: all 1s ease-out; */
}
.Tilt:nth-of-type(4n + 2) > .item{
  transform: scale(0.8, 0.8) rotate(-7deg);
  transition: all 1s ease-out;
}
.Tilt:nth-of-type(4n + 2)>.polaroid:before {
  transform: rotate(-8deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.Tilt:nth-of-type(4n + 4) > .item{
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 1s ease-out;
}
.Tilt:nth-of-type(4n + 4) >.polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}

/* /* .item:nth-of-type(12) > .polaroid{
  width: 90%; 
} */
.Tilt:nth-of-type(4n + 3) > .item{
  transform: scale(0.8, 0.8) rotate(-6deg);
  transition: all 1s ease-out;
}
.Tilt:nth-of-type(4n + 3) > .polaroid:before {
  transform: rotate(-7deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(255, 255, 255, 0.3);
}
.item:hover {
  transform: scale(0.95) rotate(0deg) !important;
  /* transition: all 1s ease-out; */
  box-shadow: none;
  border: none;
}
.item:hover .polaroid::before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 2rem 3rem #e41f6ebe;
  transition: all 1s ease-out;
}
.skeletonElement {
  width: 100%;
  height: 300px;
  background-color: #e7e2e24d;
  animation: loading 1s linear infinite alternate;
}

@keyframes loading {
  0% {
    background-color: hsl(199, 16%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
@media only screen and (max-width: 968px) {
  .Tilt {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .Tilt {
    width: 80%;
  }
}

/* Scroll animation */
@keyframes fade-up{
  0%{
    opacity: 0.4;
    transform: translateY(110px) scale(0.67) ;
    
  }
  75%{
    opacity: 0.95;
    
    
  }
  100%{
    opacity: 1;
  }
}