.wrapper {
  position: relative;
  width: 100%;
  padding: 3rem;
  text-align: center;
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  z-index: 1;
}


.wrapper::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  /* z-index: 0; */
  background: #EB9EE5;
  background: radial-gradient(at center top, #EB9EE5, #BA1C34);
  filter: blur(100px);
  clip-path: circle(30% at 20% 40%);
}

.wrapper::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 40%;
  left: 0;
  z-index: -1;
  background: linear-gradient(rgb(241, 78, 106),rgb(252, 191, 201));
  clip-path: circle(40% at right);
}

.item{
  display: inline-block;
  width: 31%;
  height: 40%;
  border-left: 5px solid rgba(255, 255, 255, 0.711);
  border-top: 5px solid rgba(255, 255, 255, 0.711);
  background: linear-gradient(135deg,rgba(169, 168, 168, 0.1),rgba(255,255,255,0));
  border-radius: 13px;
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  animation: fade-up 1s ease forwards;
  animation-timeline: view();
  /* z-index: 1; */
  transition: all 0.5s ease;
}
.polaroid {
  padding: 1.5rem 1.5rem 0;
  border-radius: 10px;
  transition: all 0.75s ease;
  overflow: hidden;
}
.polaroid > img {
  /* position: relative; */
  border: 1px rgb(195, 195, 195) solid;
  max-width: 100%;
  aspect-ratio: 1/1;
  /* object-fit: contain; */
  border-radius: 15px;
  transition: all 0.65s ease ;
}

.polaroid::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 39%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  /* box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37); */
  transform: skew(45deg) translateX(610px);
  z-index: 3;
  filter: blur(18px);
  transition: 0.6s;
  visibility: hidden;
}

.polaroid:hover::before{
  visibility: visible;
  transform: skew(45deg) translateX(-450px);
}
.caption {
  font-size: 1.25rem;
  text-align: center;
  line-height: 2.25em;
  font-weight: 300;
  font-family: 'Press Start 2P', system-ui;
  color: #e41f6f;
}

.polaroid:hover {
  transform: translateY(-40px) scale(1.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.07);
}
.skeletonElement {
  width: 100%;
  height: 300px;
  background-color: #e7e2e24d;
  animation: loading 1s linear infinite alternate;
}

@keyframes loading {
  0% {
    background-color: hsl(199, 16%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
@media only screen and (max-width: 968px) {
  .item {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .item {
    margin-top: 10vh;
    width: 80%;
  }
}

/* Scroll animation */
@keyframes fade-up{
  0%{
    opacity: 0.2;
    transform: translateX(150px) translateY(110px) scale(0.5) ;
    
  }
  50%,75%{
    opacity: 0.95;
    transform: scale(0.8);
    
  }
  100%{
    opacity: 1;
    transform: scale(0.8);
    
  }
}
