.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.7rem;
  width: 280px;
  height: 160px;
  overflow: hidden;
  border: 1px solid #96000a;
  backdrop-filter: blur(0.5rem);
  font-family: Helvetica, sans-serif;
  color: white;
  transition: all 0.3s ease-in-out;
  margin: 0 2em;
  background-color: #2c0022;
}

.position {
  font-weight: 700;
  line-height: 28px;
  font-size: 1.5rem;
  color: var(--white);
  text-align: center;
}

.position::first-letter {
  color: #96000a;
}

.position,
.username {
  margin: 0 auto;
}

.card h2 a {
  text-decoration: none;
  color: var(--white);
}
