@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Lobster&family=Quintessential&family=Roboto:wght@500&display=swap");

.CSS {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding: 17vw 0 15vw 0;
  text-align: center;
  /* grid-template-rows: repeat(1, 20vh); */
  grid-template-columns: repeat(2, 30vw);
  grid-row-gap: 8vw;
  grid-column-gap: 5vw;
  justify-content: space-evenly;
  height: 30vw;
}
.event_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  user-select: none;
}

.event_card :nth-child(1) {
  font-size: 3.4rem;
  color: var(--reportbox-bg);
  position: relative;
  top: -23vw;
  margin-bottom: 2vw;
}
.event_card a img {
  height: 40vw;
  width: 25vw;
  user-select: none;
}

@media screen and (max-width: 700px) {
  .event_card a img {
    height: 40vw;
    width: 25vw;
    padding-bottom: 0;
  }
  .event_card :nth-child(1) {
    font-size: 2rem;
    top: -24vw;
  }
}

@media screen and (max-width: 480px) {
  .event_card :nth-child(1) {
    top: -26vw;
    font-size: 1.7rem;
  }
}
