.heroSection {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  background: var(--hero-section-bg);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 0;
  padding-bottom: 3rem;
}

.heroText {
  user-select: none;
  font-size: 5rem;
  letter-spacing: 1px;
  font-family: Anton, sans-serif;
  color: var(--executive-section-text);
  overflow-x: hidden;
}

.teamLeaderRow {
  background: var(--wing-page-bg1);
  color: var(--wing-black) !important;
}

.mainTable {
  margin-top: 2rem;
  padding: 1rem 0.5rem;
  background: rgba(128, 128, 128, 0.2);
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: min(90vw, 70rem);
  gap: 0.5rem;
}

.row {
  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 3rem;
  margin: 1rem 0rem;
  overflow: hidden;
  border-radius: 0.15rem;
  background: rgba(245, 245, 245, 0.8);
  width: 25rem;
  transition: all 0.3s ease-in-out;
}

.expand {
  height: unset !important;
}

:where(.row, .expand) h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  margin-bottom: 0.5rem;
  background: var(--wing-white);
  color: var(--wing-black) !important;
  /* overflow-x: hidden; */
}

:where(.row, .expand) .tr {
  margin: 1rem !important;
}

:where(.row, .expand) :where(td, th) {
  margin: 1rem !important;
  padding: 1rem;
}

@media (max-width: 768px) {
  .heroText {
    font-size: 3rem;
  }
}
