@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap");
.about {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 1;
  /* fallback for browsers not supporting radial gradient */
  background: var(--Grey-light-3);
  background: var(--about-section-bg);
}

.about p {
  text-align: start;
}

.about .dividers {
  position: relative;
  width: 50%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  padding-left: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about .dividers:nth-of-type(2) {
  z-index: 3;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about .dividers:nth-of-type(3) {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about .dividers:nth-of-type(4) {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about .dividers .typed {
  position: absolute;
  box-sizing: border-box;
  width: 100vw;
  bottom: 0;
  font-size: 5rem;
  font-family: "Anton";
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px var(--about-section-typed-text-color);
}

.about .dividers_second {
  z-index: 2;
  padding-left: 8em;
}

.about .dividers_second .title {
  font-family: Anton;
  color: var(--about-section-text);
  font-weight: 100;
  font-size: 5em;
  letter-spacing: 0.1em;
  width: 5em;
  margin: 1em 0;
}

.about .dividers_second .smallTitle {
  font-size: 2em;
}

.about .dividers_second .subtitle p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 2px;
  font-weight: 300;
  width: 40vw;
  color: var(--about-section-text) !important;
  margin-bottom: 4em;
}

.about .dividers_second .subtitle .smallSubtitle {
  font-size: 1em;
}

.about .dividers #logo {
  width: 30vw;
  margin: auto;
}

.about_svg {
  position: relative;
  width: 25em;
  height: 20em;
}

@media only screen and (max-width: 1200px) {
  .about {
    min-height: 10vh;
    padding: 0 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about .dividers {
    text-align: center;
    width: 90vw;
    min-height: 0;
  }
  .about .dividers_second .typed {
    font-size: 4em;
    transform: translateY(60%);
    min-height: 100%;
    left: -5vw;
  }
  .about .dividers_second {
    min-height: 60vh;
    padding: 0;
  }
  .about .dividers_second .title {
    font-size: 2em;
    width: 90vw;
  }
  .about .dividers_second .subtitle p {
    width: 90vw;
    font-size: 1.3em;
  }
  .about .dividers_second .title p,
  .about .dividers_second .subtitle p {
    text-align: center;
  }
  .about .dividers:nth-of-type(2) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about #logo {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .about .dividers_second {
    min-height: 80vh;
  }
}
