.main {
  background-color: white;
  max-width: 40vw;
  height: 100vh;
  margin: auto;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 2px rgb(123, 123, 123);
  margin-bottom: 20vh;
  font-family: "Roboto", sans-serif;
}
.main .entry {
  display: block;
  padding: 5px;
  margin: 5px auto;
}

.main input {
  padding: 5px;
  margin: 5px auto;
}
.main option {
  padding: 5px;
  margin: 5px auto;
}
