@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=East+Sea+Dokdo&display=swap");

.events_bg {
  background-color: var(--event-techno-bg);
}

.events_heading {
  padding: 6em 0 2em 6em;
}

.events_content {
  background: var(--events-section-bg);
  height: 55vh;
}

.events_heading :nth-child(1) {
  color: var(--reportbox-bg);
  font-size: 4em;
  display: block;
  font-family: "Archivo", sans-serif;
}

.events_heading :nth-child(2) {
  color: var(--reportbox-bg);
  font-size: 4em;
  display: block;
  font-family: "Archivo", sans-serif;
}

.events_heading :nth-child(2)::first-letter {
  font-size: 10vh;
  font-weight: bolder;
  color: white;
  background-color: #e41f6f;
  font-family: "Archivo", sans-serif;
}

.events_heading :nth-child(3) {
  color: var(--reportbox-bg);
  font-size: 1.5em;
  display: block;
  width: 60vw;
  padding-top: 2em;
}

.society_name {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: var(--events-section-bg-2);
  flex-direction: column;
}

.society_name h1 {
  font-size: 6vw;
  text-align: center;
  color: var(--events-heading-text);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6vw;
}

.society_name p {
  color: var(--events-heading-text);
  font-size: 2vw;
  margin-top: 0.5em;
  font-family: cursive;
  text-align: center !important;
}

@media screen and (max-width: 700px) {
  .events_heading :nth-child(3) {
    font-size: 1em;
  }

  .events_heading :nth-child(5) {
    display: none;
  }

  .events_heading {
    background: var(--events-section-bg);
    min-height: 27vh;
    padding: 6em 0 2em 4em;
  }

  .events_heading :nth-child(2) {
    font-size: 3em;
  }

  .events_heading :nth-child(1) {
    font-size: 3em;
  }

  .events_heading :nth-child(2)::first-letter {
    font-size: 8vh;
  }
}