@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=East+Sea+Dokdo&display=swap");

.events_bg {
  background-color: var(--footer-text);
}

.events_heading {
  padding: 6em 0 2em 0em;
  user-select: none;
}

.events_content {
  background: var(--events-section-bg);
  min-height: 100vh;
}

.events_heading :nth-child(1) {
  color: var(--reportbox-bg);
  font-size: 3em;
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 0.7em;
}

.events_heading :nth-child(2) {
  color: var(--reportbox-bg);
  font-size: 3em;
  display: block;
  font-family: sans-serif;
  padding-left: 0.7em;
  font-weight: bold;
}

.events_heading :nth-child(2)::first-letter {
  font-size: 4rem;
  font-weight: bolder;
  padding: 0 0.1em;
  color: white;
  background-color: #e41f6f;
  font-family: "Archivo", sans-serif;
}

.events_heading :nth-child(3) {
  color: var(--reportbox-bg);
  font-size: 1.2em;
  display: block;
  width: 60vw;
  padding-top: 2em;
  padding-left: 2em;
  font-family: "Ubuntu", sans-serif;
}

.events_heading :nth-child(4) {
  color: var(--reportbox-bg);
  font-size: 1.2em;
  display: block;
  width: 60vw;
  padding-top: 1em;
  padding-left: 2em;
  font-family: "Ubuntu", sans-serif;
}

.CSSAnimation {
  user-select: none;
  letter-spacing: 1px;
  font-family: Anton, sans-serif;
  color: var(--events-section-text);
  display: flex;
  justify-content: center;
  font-size: 10vw;
  margin-top: 1em;
}

.mainCardHolder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.abacus_card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  background: linear-gradient(90deg, #f7085a, #be4c9b);
  padding-bottom: 6rem;
  border-radius: 0.5rem;
  overflow: hidden;
  width: min(40vw, 17rem);
  box-shadow: 0px 10px 15px 5px var(--event-card-shadow);
  transition: all 0.2s ease-in;
}

.abacus_card:hover {
  transform: scale(1.02);
}

.abacus_card > img {
  margin: 3rem 0 !important;
  filter: invert(0.9);
}

.abacus_card div {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  font-family: Anton, sans-serif;
  font-size: 2rem;
  color: white;
  transition: all 0.3s ease-in-out;
}

.abacus_card:hover div {
  height: 60%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.6);
}

.abacus_card img {
  border-radius: 5%;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  margin: 0 4vw;
}

.hideDate {
  display: none;
}

.abacus_card:hover .hideDate {
  display: flex;
}

.eventHover {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .events_heading :nth-child(2) {
    font-size: 3em;
    padding-left: 0.7em;
  }

  .events_heading :nth-child(1) {
    font-size: 3em;
    padding-left: 0.7em;
  }

  .events_heading :nth-child(4) {
    display: none;
  }
  .events_heading :nth-child(3) {
    font-size: 1em;
    width: 80vw;
  }

  .eventButton {
    display: none;
  }

  .abacus_card > img {
    margin: 2rem 0 !important;
    filter: invert(0.9);
  }

  .abacus_card div {
    padding: 1rem 0;
    font-size: 1rem;
  }
}
