.header {
  position: relative;
  width: 100vw;
  height: 95vh;
  background-color: var(--events-bg-color);
}

.header .heading {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: var(--Grey-light-3);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.body_bg {
  background-color: var(--events-bg-color);
  min-height: 100vh !important;
}

.header .heading .coloredBg {
  width: 16vw;
  text-align: center;
  background: var(--hero-section-bg-text);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.1);
  animation: getBlurry 3s ease-out;
}

.header .heading .coloredBg:hover {
  backdrop-filter: blur(0);
}

.header .heading .coloredBg p {
  font-size: 3.5vw;
  font-weight: 800;
  animation: moveInLeft 1s ease-out;
  padding: 0.5rem 0.5rem;
  color: var(--event-style);
}

.header .heading .coloredBg p span {
  font-family: "Roboto", sans-serif;
}

.header .heading h1 {
  font-weight: 600;
  font-size: 8vw;
  letter-spacing: 5px;
  margin-top: 0.5rem;
}

.header .heading h1::first-letter {
  background: #f80759;
  border-radius: 2px;
  padding: 0.5rem 0.5rem;
  margin-right: 5px;
  /* font-family: "Abril Fatface", cursive; */
}

.header .heading .tagline {
  font-family: "Italianno";
  font-size: 2vw;
  margin-top: 12px;
}

.header .heading .tagline span {
  margin: 0 2.2vw;
  letter-spacing: 3px;
  transition: all 0.2s;
  color: var(--theme-primary);
}

.header .heading .tagline span:nth-child(2) {
  color: #f80759;
}

.eventstyle {
  color: var(--event-style);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-13vw);
  }
  75% {
    transform: translateX(0.8vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes getBlurry {
  0% {
    backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}

.btnContainer {
  position: relative;
  padding: 4rem 0;
  padding-left: 5rem;
  background-color: var(--events-bg-color);
}

.btnContainer button {
  font-size: 1.6vw;
  color: var(--event-button);
  border: none;
  background-color: transparent;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  letter-spacing: 1px;
  outline: none;
  font-family: "Cormorant", serif;
}

.btnContainer button:focus {
  outline: none;
}

.btnContainer button:hover {
  cursor: pointer;
}

.btnContainer .active {
  color: #f80759;
}

@media only screen and (max-width: 850px) {
  .header .heading {
    top: 14%;
    left: 32%;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    height: 65vh;
  }
  .header .heading {
    transform: scale(1.2);
    top: 31%;
    left: 32%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .btnContainer .eventBtn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 4vw;
    padding: 0.5rem 0.5rem;
    margin: 0 0;
    letter-spacing: 1px;
  }
}