
/*.firstSection {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--memsection-bg);
}
.bgtext {
  top: 50%;
  left: 5%;
  position: fixed;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 8em;
  font-weight: 800;
  z-index: 1;
  opacity: 1;
  color: var(--memsection-bg-text) !important;
  line-height: 1.2em;
  letter-spacing: 5px;
  font-family: Anton;
  pointer-events: none;
}*/
/*
.firstSection h3 {
  z-index: 2;
  font-size: 2vh;
  color: var(--text-outline);
  font-weight: 400;
}

.firstSection .text1 {
  position: absolute;
  right: -1.75%;
  top: 7%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.firstSection .text2 {
  position: absolute;
  right: 0.5%;
  bottom: 2%;
}

.firstSection .text3 {
  position: absolute;
  bottom: 7%;
  left: -1.75%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.firstSection .text4 {
  position: absolute;
  top: 2%;
  left: 0%;
}

.firstSection .lottie {
  right: 0vw;
  bottom: -5vh;
  position: absolute;
  height: auto;
  width: min(40rem, 80vw);
  margin-bottom: 4vh;
  z-index: 2;
}

.firstSection .container {
  z-index: 2;
  position: relative;
  width: 100vw;
  margin: 3vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "IBM Plex Sans", serif;
}

.firstSection .container h1 {
  font-size: 10vh;
  color: var(--text-outline);
  font-weight: 500;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  /* Will override color (regardless of order) */
 /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.836);
}

.firstSection .container .buttons {
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.firstSection .container .buttons button {
  backdrop-filter: blur(5px);
  margin: 1vh;
  color: var(--Grey-light-3);
  -webkit-text-fill-color: var(--Grey-light-3);
  /* Will override color (regardless of order) */
 /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-light);
  border-radius: 10px;
  /* background: var(--dark); */
 /* background: rgba(10, 10, 10, 0.7);
  cursor: pointer;
  font-size: clamp(1rem, 10vw, 2.5rem);
  border: none;
  padding: 6px 0px;
}

.firstSection .container .buttons button span {
  padding: 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: transparent 1px solid;
}

.firstSection .container .buttons button:hover span {
  background-color: rgba(255, 255, 255, 0.315);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  visibility: visible;
  -webkit-animation: point 2s ease-in-out forwards;
  animation: point 2s ease-in-out forwards;
  border-radius: 6px;
  border: var(--Grey-light-3) 1px solid;
}
.tabPanel {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.active {
  background: var(--theme-primary) !important;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .firstSection .container .buttons {
    height: 8vh;
    top: 50%;
    left: 14%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  .firstSection .container .buttons button span {
    z-index: 2;
    width: 0%;
  }
  .firstSection .container h1 {
    margin-right: 10vw;
  }
  .firstSection .text1 {
    position: absolute;
    right: -6%;
    top: 7%;
  }
  .firstSection .text2 {
    position: absolute;
    right: 1vh;
    bottom: 2%;
  }
  .firstSection .text3 {
    position: absolute;
    bottom: 7%;
    left: -6%;
  }
}
/* Adjust styles for the session-based menu bars */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items at the top */
  
  padding: 3rem;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, black 0%, black 100%); /* Gradient background */
}
/* Adjust styles for the session-based menu bars */

.buttons button {
  border: .25em solid black;
  margin: 0.5em; /* Adjust margin to add space between buttons */
  padding: 1em 3em;
  color: white;
  font-size: 15px;
  font-weight: bold;
  
  background: linear-gradient(90deg, #f80759 0%, #923cb5 100%);
  border-radius: 10px;
  outline: none;
  position: relative;
  transition: background-color 0.3s;
}

.buttons button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #f80759, #923cb5); /* Color transition when selected */
  opacity: 0;
  z-index: -1;
  border-radius: 1em;
  transition: opacity 0.3s;
}

.buttons button:hover::after {
  opacity: 1;
}

.buttons button:hover {
  border: .25em solid #000; /* Change border color on hover */
  background-color: linear-gradient(90deg, #f80759, #923cb5); /* Color transition on hover */
}

/* Apply the enhanced styles on selected */
