.devpagecontainer {
  max-width: 1500px;
  margin: auto;
}

.heads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
  text-shadow: 0.5px 0.5px 1px whitesmoke;
}

.members {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
