.devpagecontainer {
  max-width: 1500px;
  margin: auto;
}

.yearcontainer {
  display: flex;
  margin: 40px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sideheading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 37px;
  color: #ececec;
  margin-right: 35px;
}

.buttoncontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.buttons {
  margin: 10px 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 10px;
  color: #ececec;
  font-weight: 700;
  font-family: "Helvetica";
  font-style: normal;
  line-height: 28px;
  width: 121px;
  height: 44px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ececec;
}
.active {
  margin: 10px 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 10px;
  color: #ececec;
  font-weight: 700;
  font-family: "Helvetica";
  font-style: normal;
  line-height: 28px;
  width: 121px;
  height: 44px;
  border-radius: 4px;
  cursor: pointer;
  background-image: linear-gradient(90deg, #f7085a, #be4c9b);
}
.heads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
.members {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 870px) {
  .yearcontainer {
    justify-content: center;
  }
  .sideheading {
    margin-bottom: 15px;
  }
}
