.loader_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: var(--spinner-bg); /*rgba(0, 0, 0, 0.834)*/
  z-index: 30;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: var(--wing-black) transparent var(--wing-black) transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}