.heroSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 2rem;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

.heroTitle {
  user-select: none;
  font-size: 10rem;
  letter-spacing: 1px;
  font-family: Anton, sans-serif;
  color: var(--abacus-heading);
  margin-bottom: 1rem;
}

.heroDetails {
  font-family: "Ubuntu", sans-serif;
  max-width: 60%;
  color: var(--hero-section-text);
  font-family: Gill Sans, sans-serif;
  margin: 0.4rem 0;
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.heroLogo {
  position: absolute;
  right: 10rem;
  filter: invert(var(--css-logo-invert-amount)) brightness(40%);
  height: 15rem;
  width: 15rem;
}

.postRegisterBtn {
  gap: 2rem;
  justify-content: flex-end;
}

.descriptionSection {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 2rem;
  background-attachment: fixed;
  overflow-x: hidden;
  background: var(--hero-section-bg);
}

.description {
  font-family: "Ubuntu", sans-serif;
  max-width: 80%;
  color: var(--hero-section-text);
  font-family: Gill Sans, sans-serif;
  margin: 0.4em 0;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: break-spaces;
}

.buttonSection {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  padding: 0.5rem 1rem;
  color: white;
  border: 1.5px solid var(--hero-section-text);
  background: linear-gradient(90deg, #f7085a, #be4c9b);
  border-radius: 0.3rem;
  border: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-family: Helvetica;
  line-height: 28px;
  cursor: pointer;
  text-decoration: none;
}

.banner {
  user-select: none;
  font-size: 7rem;
  letter-spacing: 1px;
  font-family: Anton, sans-serif;
  color: var(--executive-section-text);
  width: 300vw;
  animation: toLeft 35s linear infinite forwards;
  text-shadow: var(--abacus-shadow);
}

.banner2 {
  user-select: none;
  font-size: 7rem;
  letter-spacing: 1px;
  font-family: Anton, sans-serif;
  color: var(--executive-section-text);
  width: 200vw;
  animation: toLeft 35s linear infinite reverse forwards;
  text-shadow: var(--abacus-shadow);
}

.uppperBanner1 {
  position: relative;
  bottom: -4.5rem;
  user-select: none;
  font-size: 7rem;
  letter-spacing: 1px;
  font-family: Anton, sans-serif;
  color: var(--executive-section-text);
  width: 200vw;
  animation: toLeft2 25s linear infinite forwards;
}

.uppperBanner2 {
  user-select: none;
  font-size: 7rem;
  letter-spacing: 1px;
  font-family: Anton, sans-serif;
  color: var(--executive-section-text);
  width: 200vw;
  animation: toLeft2 25s linear infinite reverse forwards;
}

.banner > span,
.banner2 > span {
  color: var(--abacus-heading);
}

@keyframes toLeft {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translate(-110vw);
  }
}

@keyframes toLeft2 {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-160vw);
  }
}

@media (max-width: 768px) {
  .heroSection {
    padding: 1rem;
  }

  .heroTitle {
    font-size: 4rem;
  }

  .banner,
  .banner2,
  .uppperBanner1,
  .uppperBanner2 {
    font-size: 3rem;
  }

  .uppperBanner1 {
    bottom: -10rem;
  }

  .heroLogo {
    display: none;
  }

  .heroDetails {
    max-width: 90%;
    margin: 0.4rem 0;
    font-size: 1.2rem;
  }

  .description {
    font-size: 1.2rem;
    font-weight: 500;
  }

  @keyframes toLeft {
    0% {
      transform: translateX(100vw);
    }

    100% {
      transform: translate(-180vw);
    }
  }

  @keyframes toLeft2 {
    0% {
      transform: translateX(100vw);
    }

    100% {
      transform: translate(-290vw);
    }
  }
}
