@import url("../color.css");
@import url("../variables.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant:wght@600&family=Geostar+Fill&family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: var(--offBlack);
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  background: none;
  border: 2px solid gray;
  height: 10px !important;
  margin-top: 10px !important;
  cursor: pointer;
}

.swiper-scrollbar-drag {
  background: linear-gradient(90deg, #f7085a, #be4c9b) !important;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms /*!important*/;
    animation-iteration-count: 1 /*!important*/;
    transition-duration: 0.01ms /*!important*/;
    scroll-behavior: auto /*!important*/;
  }
}

header {
  /* position: relative; */
  text-align: center;
  justify-content: space-between;
  height: 100vh;
  background: #040404;
  color: #fff;
}
header h1 {
  font-size: 7em;
  font-weight: 100;
}
header h2 {
  font-size: 2em;
}
header span.animated {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 50px;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

header span::before,
header span::after {
  position: absolute;
  top: -23px;
  content: "";
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

header span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .animated p {
  color: gray;
}
header .image1 {
  size: 10vh;
}
header .animated {
  justify-content: space-between;
  align-content: space-evenly;
}
.swiper-button-next,
.swiper-button-prev {
  color: hsl(340, 95%, 45%) !important;
  font-weight: 900;
  backdrop-filter: blur(2px);
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 5px;
  padding: 30px 20px;
  font-family: monospace !important;
}
.swiper-button-prev::after {
  content: "\027A7" !important;
  transform: rotateZ(180deg);
}
.swiper-button-next::after {
  content: "\027A7" !important;
}
@media (max-width: 500px) {
  .swiper-scrollbar {
    display: none;
  }
  .swiper-scrollbar-drag {
    display: none;
  }
}
@media (max-width: 475px) {
  header h1 {
    font-size: 3.2em;
  }

  header h2 {
    font-size: 1.5em;
  }
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    background: none;
    border: 2px solid gray;
    height: 7px !important;
    margin-top: 7px !important;
    cursor: pointer;
  }

  .swiper-scrollbar-drag {
    background: linear-gradient(90deg, #f7085a, #be4c9b) !important;
  }

  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
}
