.container {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  height: 700px;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 10;
  background-color: var(--upcomingEvents-section-bg);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel {
  width: 60%;
  height: 500px;
  position: relative;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.videocont {
  min-width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
.iframe {
  width: 99%;
  height: 450px;
  margin: auto;
  position: relative;
  top: 10px;
  border: 2px solid var(--memsection-bg);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px 2px var(--carousel-shadow);
  -moz-box-shadow: 0 0 2px 2px var(--carousel-shadow);
  box-shadow: 0 0 2px 2px var(--carousel-shadow);
}
/*
.buttons {
  display: flex;
  position: absolute;
  bottom: 10px;
  justify-content: center;
  width: 60%;
  border-radius: 10px;
}

.sliderValue {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  color: white;
  width: 100%;
}

.value {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: rgb(255, 0, 119);
  color: white;
  font-weight: 900;
  top: -38px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  text-align: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  line-height: 32px;
}

.value::after {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background-color: rgb(255, 0, 119);
  color: white;
  font-weight: 300;
  top: 0px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: 1.5px solid white;
  margin: auto;
  text-align: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;

  z-index: -1;
}

.range {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.rangeinput {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgb(255, 162, 204),
    rgb(230, 85, 150),
    rgb(232, 71, 144),
    rgb(234, 48, 135),
    rgb(236, 50, 136),
    rgb(241, 49, 139)
  );
  border-radius: 5px;
  outline: none;
  border: none;
}

.rangeinput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 0, 119);
  cursor: pointer;
}

*/

.slide {
  display: none !important;
}
@media (max-width: 900px) {
  .carousel {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .carousel {
    width: 90%;
  }
  .iframe {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .carousel {
    width: 90%;
    height: 500px;
  }
  .iframe {
    width: 95%;
    height: 350px;
  }
  .range {
    width: 100%;
  }
  .slide {
    display: inline !important;
  }
}
@media (max-width: 500px) {
  .carousel {
    width: 90%;
    height: 450px;
  }
  .iframe {
    width: 95%;
    height: 280px;
  }
  .range {
    width: 100%;
  }
}
