@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=East+Sea+Dokdo&display=swap");

/* ///// */

.gallerytext {
  color: var(--white) !important;
}
.header {
  background-image: url('../../../public/images/abacus/9.jpg');
  background-size: cover;
  /* background-repeat: no-repeat; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
}

.buttonContainer{
  background: rgb(195,5,110);
background: linear-gradient(90deg, rgba(195,5,110,1) 3%, rgba(248,201,227,1) 19%, rgba(236,208,225,1) 82%, rgba(169,0,79,1) 99%);
  display: flex;
  align-items: center;
  justify-content: center;
 
  /* border-bottom: #ff68a4 solid; */
  box-shadow: rgb(195,5,110) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgb(195,5,110) 0px -2px 6px 0px inset;
  
}


@media (max-width: 1023px) {
  .header {
    flex-direction: column-reverse;
  }
  .lottiecont {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 620px) {
  .header {
    display:flex;
    align-items: center;
    height: 70vh;
    width: 100%;
    background-color: var(--memsection-bg);
    position: relative;
    
  }
  .header_content {
   
    z-index: 2 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header_content p {
    font-size: 10vh;
    font-weight: bolder;
    color: white;
    padding: 0;
    margin: 30px 0;
    font-family: "Archivo", sans-serif;
  }
  .header_content p::first-letter {
    font-size: 15vh;
    font-weight: bolder;
    color: white;
    background-color: #e41f6f;
    padding: 0;
    margin: 30px 0;
    font-family: "Archivo", sans-serif;
    border-radius: 50%;
  }
  .header_content span {
    font-size: 3.5vh;
    font-weight: bolder;
    color: white;
    padding: 0;
    margin: 30px 0;
    font-family: "East Sea Dokdo", cursive;
  }

  .buttonContainer{
    gap: 2rem;

  }
 .buttonContainer button {
    font-size: 3vh;
    font-weight: bolder;
    color: rgb(68, 68, 68);
    border: none;
    background-color: transparent;
    padding: 0 10px 0 10px;
    margin: 30px 0;
    font-family: "Archivo", sans-serif;
    outline: none;
    border-radius: 15px;
    transition: all 0.75s ease-out ;
  }

  .buttonContainer button:hover {
    transform: scale(1.25);
    background-color: rgb(228, 31, 111);
    color: white !important;

  }
  /* button:focus {
    outline: none;
  } */
  /* button:hover {
    cursor: pointer;
  } */

  
}

@media (min-width: 620px) {
  .header {
    height: 85vh;
    width: 100%;
    background-color: var(--memsection-bg);
    position: relative;
  }
  .header_content {
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: end;
    transform: translate(0%, -50%);
    z-index: 2 !important;
  }
  .header_content p {
    font-size: 15vh;
    font-weight: bolder;
    padding: 0;
    margin: 30px 0;
    color: var(--Grey-light-3);
    font-family: "Archivo", sans-serif;
  }
  .header_content p::first-letter {
    font-size: 15vh;
    font-weight: bolder;
    color: var(--devcard-text);
    background-color: #e41f6f;
    padding: 0 15px;
    margin: 30px 5px;
    font-family: "Archivo", sans-serif;
    border-radius: 50%;
  }
  .header_content span {
    font-size: 4.5vh;
    font-weight: bolder;
    color: var(--Grey-light-3);
    padding: 0;
    margin: 30px 0;
    font-family: "East Sea Dokdo", cursive;
  }
  .buttonContainer{
    gap: 5rem;
  }
   .buttonContainer > button {
    font-size: 3.6vh;
    font-weight: bolder;
    color: rgb(68, 68, 68);
    border: none;
    border-radius: 10px;
    background-color: transparent;
    padding: 0 20px 0 20px;
    margin: 30px 0;
    font-family: "Archivo", sans-serif;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.75s ease-out ;
  }

  .buttonContainer button:hover {
    transform: scale(1.25);
    background-color: rgb(228, 31, 111);
    color: white !important;

  }
}
